
@mixin hover-transition($property: all, $duration: 0.4s, $ease: ease-in-out) {
    transition: $property $duration $ease;
  }

@mixin btn-group($height: $btn-height) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    button {
        height: $height;
        width: $height;
    }
}

@mixin alert-container(){
    padding: 4rem;
    h2 {
        color: rgb(121, 121, 121);
        margin-bottom: 4rem;
    }
    .btn-group {
        @include btn-group();

    }
}

@mixin login-signup-form() {
    padding: 1rem;
    .btn-group {
        @include btn-group();
    }
    h2 {
        padding-left: 1rem;
    }
    form {
        margin: 4rem 4rem 2rem 4rem;
        display: flex;
        flex-direction: column;
        & > div {
        margin-bottom: 1.2rem;
        }
    }
}

@mixin product-form() {
    width: 50%;
    .btn-group {
        //margin-top: 4rem;
        @include btn-group();
    }
    h2 {
        margin-bottom: inherit;
    }
    form {
        display: flex;
        flex-direction: column;
        & > div {
        margin-bottom: 1.2rem;
        }
    }
}

@mixin responsive-pagination($font-size, $btn-size) {
    .pagination {
        font-size: $font-size;
        & > div {
            margin: 0 0.3rem;
        }
        .items-per-page {
            width: auto;
        }
        @include btn-group($btn-size);
    }
    .btn-group {
        margin:0;
    }
}