
@mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }

@function themed($key) {
    @return map-get($theme-map, $key);
}

@mixin themed {
    @include themify($themes){     
        $light-font: themed('light-font') !global;
        $dark-font: themed('dark-font') !global;
        $white: themed('white') !global;
        $light-gray: themed('light-gray') !global;
        $mid-gray: themed('mid-gray') !global;
        $darkgray: themed('darkgray') !global;
        $orange:  themed('orange') !global;

        $light-gray-border: 1px solid themed('light-font') !global;
        $dark-gray-border: 1px solid themed('dark-font') !global;
        $dashed-border: 1px dashed themed('mid-gray') !global;
        $dotted-border: 1px dotted themed('darkgray') !global;
        @content;
    }
}