
@mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }

@function themed($key) {
    @return map-get($theme-map, $key);
}

@mixin themed {
    @include themify($themes){     
        $low-contrast-color: themed('low-contrast-color') !global;
        $high-contrast-color: themed('high-contrast-color') !global;
        $page-background: themed('page-background') !global;
        $view-background: themed('view-background') !global;
        $footer-background: themed('footer-background') !global;
        $header-background: themed('header-background') !global;
        $detail-color:  themed('detail-color') !global;
        $ghost-color: themed('ghost-color') !global;

        $light-gray-border: 1px solid themed('low-contrast-color') !global;
        $dark-gray-border: 1px solid themed('high-contrast-color') !global;
        $dashed-border: 1px dashed themed('ghost-color') !global;
        $dotted-border: 1px dotted themed('header-background') !global;
        @content;
    }
}