@mixin btn-group($height: $btn-height) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button {
    height: $height;
    width: $height;
  }
}

@mixin hover-transition($property: all, $duration: 0.4s, $ease: ease-in-out) {
  transition: $property $duration $ease;
}