@mixin responsiveness() {

    @media only screen and (max-width: 1026px) {
        body {
        margin: 0;
        min-height: 100%;
        }
        .main-container {
        justify-content: flex-start;
        }
        .view-container {
            width: 90%;
        }
        .view-details {
        flex-direction: column-reverse;
        & > * {
            width: 100%;
            margin-bottom: 2rem;
        }
        .circle-img { 
            margin: auto;
        }
        .img-wrapper {
            padding-left: 0;
        }
        }
        .cards-view-wrapper {
        padding: 0;
        }
        .grid-table-container.table-view {
            width: 90%;
        }
        .cart-container {
        width: 90%;
        }
        .order-items-wrapper {
        width: 100%;
        }
        footer {
        margin:0;
        padding:0;
        }
    }
    @media only screen and (max-width: 950px) {
        .order-container {
            font-size: smaller,
        }
    }
    
    @media only screen and (max-width: 875px) {
        .card-wrapper {
        width: 20rem;
        height: 12rem;
        .btn-group {
            margin-bottom: -2rem;
        }
        }
        .utilities-container {
        padding: 0 1rem;
        }
        
    }
    @media only screen and (max-width: 860px) {
        .order-wrapper {
            & div {
                font-size: 10px;
            }
        }
    }
    
    @media only screen and (max-width: 820px) {
        .footer-wrapper {
        width: 90%;
        & > * {
            width: 50%;
        }
        & > p {
            text-align: right;
        }
        }
    }
    @media only screen and (max-width: 800px) {
        .cart-container, 
        .profile-container, 
        .products-container,
        .product-container {
         .view-wrapper {
             width:95%!important;
         }
        }
     }
    
    @media only screen and (max-width: 750px) {
        .card-wrapper {
        width: 18rem;
        height: 10rem;
        .btn-group {
            margin-bottom: -1rem;
        }
        }
        .product-price {
        width: 6rem!important; 
        font-size: smaller;
        font-weight: 900;
        }
    }
    @media only screen and (max-width: 700px) {
        .utilities-container {
            padding: 0 2rem;
        // form{
        //     height: 2rem;
        // }
        
        // .btn-group {
        //     justify-content: space-evenly;
        //     button svg {
        //         padding: 0.4rem;
        //     }
        // }
        }
    }
    
    @media only screen and (max-width: 680px) {
        .card-wrapper {
        width: 16rem;
        height: 8rem;
        }
        .product-price {
        width: 4.5rem!important; 
        font-size: 12px;
        height: 2.5rem;
        top: 18px;
        line-height: 2.5rem;
        }
    }
    @media only screen and (max-width: 610px) {
        .card-wrapper {
        width: 15rem;
        height: 8rem;
        }
        .product-price {
        width: 4.5rem!important; 
        font-size: smaller;
        }
        .grid-table-container{

            .table-view {
                width: 90%!important;
            }
            }
    }
    @media only screen and (max-width: 580px) {
        @include responsive-pagination(12px, 2rem);
    
        header {
        font-size: smaller;
        .btn-group {
            width: 100%!important;
            line-height: 4rem;
            button {
            height: 2rem!important;
            width: 2rem!important;
            margin: 0 0.5rem;
            }
        }
        }
        .product-price {
        width: 4.5rem!important; 
        font-size: smaller;
        }
        .circle-img {
        height: 20rem!important;
        width: 20rem!important;
        margin:auto;
        }
        .view-header {
        width: 100%;
        }
        .view-container {
            width: 100%;
        }
        .grid-table-container{

        .table-view {
            width: 100%!important;
        }
        }
        .cart-container {
        font-size: smaller;
        width: 100%;
            .btn-group {
                @include btn-group(2rem);
                button {
                margin: 0 0.5rem;
                padding: 0 0.5rem;
                }
        
            }
        }
    }
    @media only screen and (max-width: 550px) {
        .order-wrapper >{
            & div, h2 {
                font-size: 8px;
            }
        }
        .order-container {

            .order-items-wrapper {
                width: 96%;
            }
        }
    }
    @media only screen and (max-width: 540px) {
       body {
        min-width: 540px;
       }
     }
    @media only screen and (max-width: 520px) {
        // cart page: font size, icon size, table-header height

        header {
        height:fit-content;
        width: 100%;
            h2 {
                padding: 1rem 0;
            }
        }
        .card-wrapper {
            width: 14rem;
            height: 10rem;
        }
        .utilities-container {
        form {
            margin-right: 1rem;
        }
        // .btn-group {
        //     width: 2rem!important;
        // }
        }
        .table-view {
        &.MuiPaper-root {
            margin: auto;
            width: 100%;
        }
        // .btn-group {
        //     @include btn-group(3rem)
        // }
        }
    }
    
    @media only screen and (max-width: 480px) {
        .cards-view-wrapper {
        padding: 2rem 0;
        }
        .card-wrapper {
        width: 12rem;
        height: 7rem;
        .product-title {
            font-size: 16px;
        }
        .product-category {
            font-size: smaller;
        }
        .product-price {
            width: 3.5rem!important; 
            height: 2rem!important;
            font-size: 12px;
            line-height: 2rem!important;
            margin-top: -20px!important;
        }
        .btn-group {
            margin-bottom: 0;
            @include btn-group(1rem);
            button {
            height: 0.8rem;
            width: 2.8rem;
            }
        }
        }
    }
    
    @media only screen and (max-width: 420px) {
        body {
            margin: 0;
            font-size: smaller;
        }
        .card-wrapper {
        width: 12rem;
        height: 7rem;
        .product-title {
            font-size: 16px;
        }
        .product-category {
            font-size: smaller;
        }
        }
        .view-header {
            @include btn-group(0.5rem);
            .btn-group {
                margin-bottom: 0;
            }
        }
        .cart-container {
            font-size: x-small;
        }
    }
    
    @media only screen and (max-width: 400px) {
        .card-wrapper {
        width: 10rem;
        height: 8rem;
        .product-title {
            font-size: 16px;
        }
        .product-category {
            font-size: smaller;
        }
        }
        .items-per-page {
        p {
            display: none;
        }
        }
    }
    
    @media only screen and (max-width: 355px) {
        .cart-container {
        .view-header {
            display: block;
            line-height: 6rem;
        }
        .divider {
            display: none!important;
        }
        }
    }
    
    @media only screen and (max-width: 340px) {
        //fix footer & cards
    }
}

