// LIGHT THEME

$white: white;
$light-gray: rgb(245,245,245);
$mid-gray: rgb(219,219,219);
$darkgray: darkgray;

$light-font: rgb(121, 121, 121);
$dark-font: rgb(61,61,61);

$orange: rgb(253, 139, 51);


