@import '_variables_light-theme';
@import '_variables_dark-theme';


$main-font: 'Roboto', sans-serif;
$footer-font: Arial, Helvetica, sans-serif;

$light-gray-border: 1px solid $light-gray;
$dark-gray-border: 1px solid $darkgray;
$dashed-border: 1px $mid-gray dashed;
$dotted-border: 1px $darkgray dotted;

$circle-radius: 50%;
$primary-radius: 7px;
$secondary-radius: 4px;

$btn-height: 4rem;
$btn-width: 4rem;
$small-height: 3rem;
$mid-height: 16rem;

$iPad-width: 1024px;



