// DARK THEME


// DARK THEME:
// header color = dark-font: #1B1B1B
// header font-color = light-font #84888C

// light-font: #84888C: header icons; searchbar colors; pagination; divider;
// dark-font: #1B1B1B: product-card text; product-price text;

$light-gray: #232629;
$white: #272a2e; // +++
$mid-gray: #181818; // footer +++
$darkgray: #1b1b1b; // header +++

$light-font: rgb(121, 121, 121);
$dark-font: #84888d;

$orange: #429F42;

