$main-font: 'Roboto', sans-serif;
$footer-font: Arial, Helvetica, sans-serif;

$light-gray: rgb(245,245,245);
$mid-gray: rgb(219,219,219);

$light-gray-border: 1px solid $light-gray;
$dark-gray-border: 1px solid darkgray;
$dashed-border: 1px lightgrey dashed;
$dotted-border: 1px darkgray dotted;


$light-font: rgb(121, 121, 121);
$dark-font: rgb(61,61,61);

$orange: rgb(253, 139, 51);

$circle-radius: 50%;
$primary-radius: 7px;
$secondary-radius: 4px;

$btn-height: 4rem;
$btn-width: 4rem;
$small-height: 3rem;
$mid-height: 16rem;

$iPad-width: 1024px;