@import '_variables';
@import '_mixins_themes';

@include themed {
  .cart-container { // cart-container = product-container
      border-radius: $primary-radius;
      margin: auto;
      display: flex;
      flex-direction: column;
      padding: 4rem 0;
      background-color: $light-gray;
      width: 100%;
      .profile-section {
        margin: 0 2rem;
      }
      .view-wrapper {
          width: 70%;
          margin: auto;
          h2 {
              float: right;
          }
      }
    }   
}
