@import '_variables';
@import 'mixins-global';


*{
  font-family: $primary-font;
  @include hover-transition();
  footer { // change footer font = animation font
    font-family: $secondary-font;
  }
}
#root {
  height: 100%;
}
h2 {
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  color: 'darkgray';
}

.app-container { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 99%;
  margin: 0 auto;
  max-width: 1920px;
}

.divider {
  width: 30%;
  margin: 3rem auto;
}

header {
  width: 100%;
  height: 5rem;
  margin-top: 0.5rem;
  border-radius: $secondary-radius;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  .btn-group {
    @include btn-group(4rem);
    display: flex;
    align-items: center;
    svg {
      height: 3rem;
      width: 3rem;
    }
    button {
      margin-left: 0.4rem;
    }
    .btn { 
      border-radius: $circle-radius;
      font-size: 21px;
    }
  }
  h1 {
    letter-spacing: 2px;
    margin: 0 1rem;
    width: 100%;
  }
}

footer {
  font-family: $secondary-font;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 16rem;
  .footer-wrapper {
    width: 70%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 1920px;
  }
}

.btn {
  margin: 1rem auto;
  font-weight: 900;
  border-radius: $primary-radius;
  letter-spacing: 2px;
}
.btn:not(#btn-disabled):hover{
  cursor: pointer;
  //@include hover-transition(); // make faster
}

.loading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20rem auto;
}

.alert-container {
  @include alert-container();
}
.login-signup-form {
  @include login-signup-form();
}
.form-container {
  width: 50%;
  margin: 3rem auto;
  .btn-group {
    @include btn-group(4rem);
  }
}

// views:

.view-container {
  border-radius: $primary-radius;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  width: 100%;
}

.view-wrapper {
  border-radius: $primary-radius;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 70%;

}

.view-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &.hover:hover {
    cursor: pointer;
  }
  //margin-bottom: 3rem;
  h2 {
    width: 100%;
  }
  .btn-group {
    @include btn-group(4rem);
  }
}

.view-details {
  display: flex;
  flex-direction: row;
  //min-height: 40vh;
  height: auto;
  align-items: center;
  .img-wrapper {
    margin: 3rem auto;
    border-radius: 50%;
    & img {
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
  
    object-fit: cover;
     }
  }
  &.with-items {
    flex-direction: column;
    height: auto;
    margin: 3rem 0;
  }
}

.item-wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  .item-text {
    h2 {
      font-size: 30px;
    }
    h4 {
      font-size: 16px;
    }
    & > *{
      margin: 0;
    }
  }
  .btn-group{
    @include btn-group(4rem);
  }
}


.btn-group {
  float: right;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// landing-page: 

.admin-shortcuts {
  width: 70%;
  justify-content: space-evenly;
  margin: auto;
  .flex-row:hover {
    cursor: pointer;
  }
  svg {
    height: 3rem;
    width: 3rem;
    margin: 0 1rem;
  }
}


.items-grid {
  width: 100%;
  height: 62vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: 1rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
  & > div {
    position: relative;
    border-radius: $primary-radius;
    overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $primary-radius;
    opacity: 0.5;
    z-index: -2;
  }
  &:not(.items-title):hover {
    //border: 1px solid $low-contrast-color;
    cursor: pointer;
    img {
      transform: scale(1.3);
    }
  }
  .item-price {
    height: 3.5rem;
    width: 8rem;
    line-height: 3.5rem;
    font-size: 18px;
    //color: #1B1B1B;
    font-weight: 500;
    position: absolute;
    text-align: end;
    z-index: 1;
    border-top-right-radius: 20rem;
    border-bottom-right-radius: 20rem;
    padding-right: 1rem;
    right: 1px;
  }
}
.items-title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.item1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.item2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
}
}

.items-title {
  white-space: nowrap;
  border-radius: $secondary-radius;
  //opacity: 0.7;
  display: flex;
  &:hover {
    cursor: default;
  }
  h3 {
    transform: rotate(180deg) translateY(100%);
    writing-mode: vertical-rl;
    //color: rgb(35, 34, 34) !important;
    transform-origin: bottom center;
    font-size: 2.5vh;
    margin: auto;
  }
}


.subscribe {
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
    .text{
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
    font-family: 'Anonymous Pro', monospace;   
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  input {
    background-color: transparent;
    border: none;
    //border-bottom: 3px solid $low-contrast-color;
    font-size: 18px;
    width: 60%;
    height: 3rem;
    margin: 2rem 0;
    padding: 6px 9px 0 9px;
    text-align: center;
    //color: $low-contrast-color;
    font-weight: 900;
    outline: none;
    letter-spacing: 2px;
    font-style: bold;
    transition: all 0.5s ease-in-out;
    &::placeholder {
      //color: $high-contrast-color;
      opacity: 0.3;
      font-style: bold;
    }
    &:focus, &:hover {
      width: 100%;
    }
  }
}

// home-page: 

.search-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 8rem;
  form {
    width: 100%;
    box-shadow: none;
    height: $small-height;
  }
  .btn-group {
    @include btn-group(2.85rem);
    button {
      margin-left: 1.1rem;
    }
    justify-content: space-around;
    button:not(.active-icon) {
      border-radius: $secondary-radius;
      &:not(.active-icon):hover {
        cursor: pointer;
        border-radius: $circle-radius;
        @include hover-transition();
      }
    }
    .active-icon {
      border-radius: $circle-radius;
      &:hover {
        cursor: default;
      }
    } 
  } 
}

.cards-view-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2rem;
}

.product-price {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: -10px;
  border-radius: 25px;
  height: $small-height;
  width: 8rem;
  line-height: $small-height;
  text-align: center;
  color: #1B1B1B; 
}

.card-wrapper {
  position: relative;
  height: 16rem;
  width: 24rem;
  margin: 2rem 0;
  border: 1px solid transparent;
  border-radius: $primary-radius;
  overflow: hidden;
  img {
    border-radius: inherit;
    height: 100%;
    width: 100%;
    //z-index: -1;
    position: absolute;
    opacity: 0.7;
    object-fit: cover;
  }
  
  &:hover {
    @include hover-transition();
    border-radius: $primary-radius;
    cursor: pointer;
    img {
      opacity: 0.5;
      transform: scale(1.3);
      object-fit: cover;
      @include hover-transition();
    }
  }
}
.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
  align-items: center;
  margin-bottom: -3rem;
  #left {
    rotate: 180deg;
  }
}
.items-per-page {
  width: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// profile-page: 


.flex-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  height: 8rem;
  border-radius: $primary-radius;
  margin-bottom: 1rem;
  padding: 0 2rem;
  & > div {
    width: 100%;
  }
  .btn-group {
    @include btn-group(4rem);
  }
  &#open {
    height: auto;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    padding-bottom: 0;
  }
  img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
  }
}

