@import 'variables';
@import 'mixins_global';
@import 'responsive';

@import 'cart-page-styles';
@import 'product-page-styles';
@import 'profile-page-styles';
@import 'product-form-page-styles';
@import 'home-page-styles';


*{
  font-family: $main-font;
}
#root {
  height: 100vh;
}
body {
  margin:0;
}

.app-container { 
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.cards-view-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 99%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: $btn-height;
  margin-top: 0.5rem;
  border-radius: $secondary-radius;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  .btn-group {
    @include btn-group(4rem);
    display: flex;
    align-items: center;
    button {
      margin-left: 0.4rem;
    }
    .btn { 
      border-radius: $circle-radius;
      font-size: 21px;
    }
  }
  h2 {
    letter-spacing: 2px;
    margin: 0 1rem;
    width: 100%;
  }
}

.btn{
  height: $small-height;
  border-radius: $secondary-radius;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 900;
}
.btn:not(#btn-disabled):hover{
  cursor: pointer;
  @include hover-transition(all, 0.2s, ease-in-out);
}

form {
  .btn-group {
    @include btn-group(4rem);

  }
}

.utilities-container {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  form {
    width: 90%;
    box-shadow: none;
    height: $small-height;
  }
  .btn-group {
    @include btn-group(3rem);
    width: 9rem;
    margin: auto;
    justify-content: space-around;
    button:not(.active-icon) {
      border-radius: $secondary-radius;
      &:not(.active-icon):hover {
        cursor: pointer;
        border-radius: $circle-radius;
        @include hover-transition();
      }
    }
    .active-icon {
      border-radius: $circle-radius;
      &:hover {
        cursor: default;
      }
    } 
  } 
}

.pagination-container {
  align-self: flex-end;
}

.pagination {
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  @include btn-group(3rem);  
  & > div {
    margin: 0 0.5rem;
  }
  .items-per-page {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #left {
    rotate: 180deg;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  z-index: 0;
  border-radius: $primary-radius;
  width: 100%;
}

.card-wrapper {
  position: relative;
  height: $mid-height;
  width: 24rem;
  margin: 2rem 0;
  border: 1px solid transparent;
  border-radius: $primary-radius;
  overflow: hidden;
  img {
    border-radius: inherit;
    height: inherit;
    width: inherit;
    z-index: -1;
    position: absolute;
    opacity: 0.5;
    object-fit: cover;
  }

  &:hover {
    @include hover-transition();
    border-radius: $primary-radius;
    cursor: pointer;
    img {
      opacity: 0.5;
      transform: scale(1.3);
      object-fit: cover;
      @include hover-transition();
    }
  }
}
.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 0 0 0 1rem;
  .btn-group {
    margin-bottom: -3rem;
    @include btn-group();
  }
  .product-title {
    font-size: x-large;
    font-weight: 800;
    margin: 0;
  }
  .product-category {
    margin: 0;
    bottom: 5px;
  }
}
.product-price {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: -10px;
  border-radius: 25px;
  height: $small-height;
  width: 8rem;
  line-height: $small-height;
  text-align: center;
  color: #1B1B1B; // need to stay in same color $dark-font
}

.view-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  h2 {
    margin: 0;
    padding-left: 1rem;
    width: 100%;
  }
  .btn-group {
    @include btn-group(4rem);
  }
}


#description-textfield{
  border: none;
  width: 30rem;
}

.login-signup-form {
  @include login-signup-form();
}
.product-form {
  @include product-form();
}

.order-container {
  border-radius: $primary-radius;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  .order-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  #hover:hover {
    cursor: pointer;
  }
  p {
    font-size: 16px;
    font-weight: 900;
  }
  .order-items-wrapper {
    width: 90%;
    margin: auto;
    .btn-group {
      padding: 0;
    }
  }

  & h2{
    padding: 0 4rem;
  }
  .btn-group {
    padding: 0 3rem;
    @include btn-group();
  }
}

.alert-container {
  @include alert-container();
}

.category-container {
  border-radius: $primary-radius;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  & div {
    margin: 0.5rem 2rem;
  }
  img, button { 
    height: $btn-height;
    width: 4rem;
    border-radius: $circle-radius;
  }
}

footer {
  font-family: $footer-font;
  height: $mid-height;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.footer-wrapper {
  width: 70%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.divider {
  width: 30%;
  margin: 3rem auto;
}

.loading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  //margin: 10% 0;
  margin: 20rem auto;
}

@include responsiveness();