@import 'variables';
@import 'mixins_global';
@import 'responsive';

@import 'cart-page-styles';
@import 'product-page-styles';
@import 'profile-page-styles';
@import 'product-form-page-styles';
@import 'home-page-styles';


*{
  font-family: $main-font;
}
#root {
  height: 100vh;
}
body {
  margin:0;
}

.app-container { 
  display: flex;
  flex-direction: column;
}
.landing-view-container {
  min-height: 30vh;
}

.landing-view-wrapper { 
  border-radius: $primary-radius;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  .items-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    position:relative;
    .items-title {
      white-space: nowrap;
      border-radius: $secondary-radius;
      opacity: 0.7;
      display: flex;
      &:hover {
        cursor: default;
      }
      h3 {
        transform: rotate(180deg) translateY(100%);
        writing-mode: vertical-rl;
        color: rgb(35, 34, 34) !important;
        transform-origin: bottom center;
        font-size: 24px;
        margin: auto;
      }
    }
    .items-grid {
      width: 100%;
      height: 62vh;
      display: grid;
      grid-template-columns: 0.2fr 1fr 1fr 1fr;
      grid-template-rows: repeat(2, auto);
      grid-gap: 1rem;
      & > div {
        position: relative;
        border-radius: $primary-radius;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: $primary-radius;
          opacity: 0.5;
          z-index: -2;
        }
        &:not(.items-title):hover {
          border: 1px solid $light-font;
          cursor: pointer;
          img {
            transform: scale(1.3);
            object-fit: cover;
            @include hover-transition();
          }
        }
      .item-wrapper {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 1rem;
        .item-text {
          h1 {
            font-size: 30px;
          }
          h4 {
            font-size: 16px;
          }
          & > *{
            margin: 0;
          }
        }
        .btn-group{
          @include btn-group(4rem);
        }
      }
      .item-price {
        height: 3.5rem;
        width: 8rem;
        line-height: 3.5rem;
        font-size: 18px;
        color: #1B1B1B;
        font-weight: 500;
        position: absolute;
        text-align: end;
        z-index: 1;
        border-top-right-radius: 20rem;
        border-bottom-right-radius: 20rem;
        padding-right: 1rem;
        right: 1px;
      }
    }
    .items-title {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .item1 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .item2 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .item3 {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .item4 {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 2;
    }
    }
  }
}

.admin-shortcuts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 4rem auto;
  div {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: none;
    margin: 0 2rem;
    &:hover {
      color: white;
      cursor: pointer;
    }
    svg {
      height: 3rem;
      width: 3rem;
      margin: 0 1rem;
    }
  }
}

.cards-view-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 99%;
  margin: 0 auto;
  max-width: 1920px;
}

header {
  width: 100%;
  height: 5rem;
  margin-top: 0.5rem;
  border-radius: $secondary-radius;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  .btn-group {
    @include btn-group(4rem);
    display: flex;
    align-items: center;
    button {
      margin-left: 0.4rem;
    }
    .btn { 
      border-radius: $circle-radius;
      font-size: 21px;
    }
  }
  h1 {
    letter-spacing: 2px;
    margin: 0 1rem;
    width: 100%;
  }
}
button:disabled {
  svg {
    opacity:0.4;
  }
}

.btn{
  height: $small-height;
  border-radius: $secondary-radius;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 900;
  margin: auto;
}
.btn:not(#btn-disabled):hover{
  cursor: pointer;
  @include hover-transition(all, 0.2s, ease-in-out);
}

form {
  .btn-group {
    @include btn-group(4rem);

  }
}

.utilities-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 8rem;
  form {
    width: 100%;
    box-shadow: none;
    height: $small-height;
  }
  .btn-group {
    @include btn-group(2.85rem);
    button {
      margin-left: 1.1rem;
    }
    justify-content: space-around;
    button:not(.active-icon) {
      border-radius: $secondary-radius;
      &:not(.active-icon):hover {
        cursor: pointer;
        border-radius: $circle-radius;
        @include hover-transition();
      }
    }
    .active-icon {
      border-radius: $circle-radius;
      &:hover {
        cursor: default;
      }
    } 
  } 
}

.pagination-container {
  align-self: flex-end;
}

.pagination {
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  @include btn-group(3rem);  
  & > div {
    margin: 0 0.5rem;
  }
  .items-per-page {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #left {
    rotate: 180deg;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  z-index: 0;
  border-radius: $primary-radius;
  width: 100%;
}

.card-wrapper {
  position: relative;
  height: $mid-height;
  width: 24rem;
  margin: 2rem 0;
  border: 1px solid transparent;
  border-radius: $primary-radius;
  overflow: hidden;
  img {
    border-radius: inherit;
    height: inherit;
    width: inherit;
    z-index: -1;
    position: absolute;
    opacity: 0.5;
    object-fit: cover;
  }

  &:hover {
    @include hover-transition();
    border-radius: $primary-radius;
    cursor: pointer;
    img {
      opacity: 0.5;
      transform: scale(1.3);
      object-fit: cover;
      @include hover-transition();
    }
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 0 0 0 1rem;
  .btn-group {
    margin-bottom: -3rem;
    @include btn-group();
  }
  .product-title {
    font-size: x-large;
    font-weight: 800;
    margin: 0;
  }
  .product-category {
    margin: 0;
    bottom: 5px;
  }
}
.product-price {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: -10px;
  border-radius: 25px;
  height: $small-height;
  width: 8rem;
  line-height: $small-height;
  text-align: center;
  color: #1B1B1B; 
}

.view-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  h2 {
    margin: 0;
    padding-left: 1rem;
    width: 100%;
  }
  .btn-group {
    @include btn-group(4rem);
  }
}


#description-textfield{
  border: none;
  width: 30rem;
}

.login-signup-form {
  @include login-signup-form();
}
.product-form {
  @include product-form();
}

.order-container {
  border-radius: $primary-radius;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  .order-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  #hover:hover {
    cursor: pointer;
  }
  p {
    font-size: 16px;
    font-weight: 900;
  }
  .order-items-wrapper {
    width: 90%;
    margin: auto;
    .btn-group {
      padding: 0;
    }
  }

  & h2{
    padding: 0 4rem;
  }
  .btn-group {
    padding: 0 3rem;
    @include btn-group();
  }
}

.alert-container {
  @include alert-container();
}

.category-container {
  border-radius: $primary-radius;
  margin: auto;
  margin-bottom: 2rem;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  .view-header {
    width: inherit;
  }
  .btn-group {
    margin: 0;
  }
  & div {
    margin: 0;
  }
  img, button { 
    height: $btn-height;
    width: 4rem;
    border-radius: $circle-radius;
  }
  & img, h2 {
    margin: 1rem;
  }
}

footer {
  font-family: $footer-font;
  height: $mid-height;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.footer-wrapper {
  width: 70%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  max-width: 1920px;
}

.divider {
  width: 30%;
  margin: 3rem auto;
}

.loading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20rem auto;
}
.drawer {
  svg {
    font-size: 2rem;
  }
  span {
    font-size: 2rem;
    padding-left: 2rem;
  }
}

.subscribe {
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
    .text{
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
    font-family: 'Anonymous Pro', monospace;   
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  input {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid $light-font;
    font-size: 18px;
    width: 60%;
    height: 3rem;
    margin: 2rem 0;
    padding: 6px 9px 0 9px;
    text-align: center;
    color: $light-font;
    font-weight: 900;
    outline: none;
    letter-spacing: 2px;
    font-style: bold;
    transition: all 0.5s ease-in-out;
    &::placeholder {
      color: $dark-font;
      opacity: 0.3;
      font-style: bold;
    }
    &:focus, &:hover {
      width: 100%;
    }
  }
}


@include responsiveness();