@import 'global';
@import 'themes';

// @import 'light-theme';
// @import 'dark-theme';

/**{
  font-family: $main-font;
  h1, h2, div, p {
    color: $dark-font;
  }
}
#root {
  height: 100vh;
}
body {
  margin:0;
  background-color: $white;
}

.app-container { 
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.cards-view-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 99%;
  margin: 0 auto;
}

header {
  border: $dark-gray-border;
  background-color: $darkgray;
  width: 100%;
  height: $btn-height;
  margin-top: 0.5rem;
  border-radius: $secondary-radius;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-group {
    display: flex;
    align-items: center;
    .btn {
      margin: 0 1rem;
    }
  }
  h2 {
    letter-spacing: 2px;
    margin: 0 1rem;
    width: 100%;
  }
  .btn-group {
    margin-right: 1rem;
    @include btn-group();
    span.MuiBadge-badge {
      background-color: $orange;
      color: $light-gray;
      font-weight: 700;
    }
    svg {
      height: $small-height;
      width: 3rem;
      color: $mid-gray;
      
      &:hover {
        cursor: pointer;
        color: $light-gray;
      }
    }
  }
}

.btn{
  height: $small-height;
  background-color: $light-gray;
  border: none;
  border-radius: $secondary-radius;
  letter-spacing: 1px;
  font-size: 16px;
}
.btn:not(#btn-disabled):hover{
  color: $light-gray;
  border: $light-gray-border;
  cursor: pointer;
  background-color: $darkgray;
  @include hover-transition(all, 0.2s, ease-in-out);
}

form {
  & .MuiInputBase-input.MuiInput-input.Mui-disabled{
    -webkit-text-fill-color: $dark-font;
  }
  .btn-group {
    @include btn-group(4rem);

  }
}

.utilities-container {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  form {
    background-color: transparent;
    width: 90%;
    box-shadow: none;
    height: $small-height;
    & input::placeholder{
      //color: rgb(150, 150, 150);
      color: $mid-gray;
    }
  }
  .btn-group {
    @include btn-group(3rem);
    width: 9rem;
    margin: auto;
    justify-content: space-around;
    button:not(.active-icon) {
      border-radius: $secondary-radius;
      border: $dark-gray-border;
      &:not(.active-icon):hover {
        cursor: pointer;
        border-radius: $circle-radius;
        @include hover-transition();
      }
    }
    .active-icon {
      border-radius: $circle-radius;
      border: $dark-gray-border;
      &:hover {
        cursor: default;
      }
    } 
  } 
}

.pagination-container {
  align-self: flex-end;
}

.pagination {
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  @include btn-group(3rem);  
  & > div {
    margin: 0 0.5rem;
  }
  .items-per-page {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #left {
    rotate: 180deg;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  background-color: $light-gray;
  z-index: 0;
  border-radius: $primary-radius;
  width: 100%;
}

.card-wrapper {
  position: relative;
  height: $mid-height;
  width: 24rem;
  margin: 2rem 0;
  border: $light-gray-border;
  border-radius: $primary-radius;
  overflow: hidden;
  //box-shadow: inset 0 -4rem 60px rgb(245, 245, 245);
  img {
    border-radius: inherit;
    height: inherit;
    width: inherit;
    z-index: -1;
    position: absolute;
    opacity: 0.6;
    object-fit: cover;
    // -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(245, 245, 245, 0));
    // mask-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));

  }

  &:hover {
    border: $dark-gray-border;
    @include hover-transition();
    border-radius: $primary-radius;
    cursor: pointer;
    img {
      opacity: 0.5;
      transform: scale(1.3);
      object-fit: cover;
      @include hover-transition();
    }
  }
}
.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 0 0 0 1rem;
  //color: #1B1B1B; // dark-theme
  .btn-group {
    margin-bottom: -3rem;
    @include btn-group();
  }
  .product-title {
    font-size: x-large;
    font-weight: 800;
    margin: 0;
  }
  .product-category {
    margin: 0;
    bottom: 5px;
  }
}
.product-price {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: -10px;
  border-radius: 25px;
  background-color: $orange;
  height: $small-height;
  width: 8rem;
  line-height: $small-height;
  text-align: center;
  color: #1B1B1B; // dark-theme
}

.view-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  h2 {
    margin: 0;
    padding-left: 1rem;
    width: 100%;
  }
  .btn-group {
    @include btn-group(4rem);
  }
  // &:hover { // in order component need hover effect on this header
  //   cursor: pointer;
  // }
}


#description-textfield{
  border: none;
  width: 30rem;
}

.login-signup-form {
  @include login-signup-form();
}
.product-form {
  @include product-form();
}

.order-container {
  background-color: $white;
  border-radius: $primary-radius;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
  .order-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  #hover:hover {
    cursor: pointer;
  }
  p {
    font-size: 16px;
    font-weight: 900;
  }
  .order-items-wrapper {
    width: 90%;
    margin: auto;
    .btn-group {
      padding: 0;
    }
  }

  & h2{
    padding: 0 4rem;
  }
  .btn-group {
    padding: 0 3rem;
    @include btn-group();
  }
}

.alert-container {
  @include alert-container();
}

.category-container {
  border-radius: $primary-radius;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: $dark-gray-border;
  align-items: center;
  & div {
    margin: 0.5rem 2rem;
  }
  h2 {
    color: $darkgray;
  }
  img, button { 
    height: $btn-height;
    width: 4rem;
    border-radius: $circle-radius;
  }
}

footer {
  font-family: $footer-font;
  background-color: $mid-gray;
  height: $mid-height;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.footer-wrapper {
  width: 70%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.divider {
  width: 30%;
  margin: 3rem auto;
}

.loading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  //margin: 10% 0;
  margin: 20rem auto;
}

@include responsiveness();*/