@import 'variables';
@import '_mixins-themed';

@include themed {

  h2, span, a, p, svg, form {
    color: $low-contrast-color;
  }
  body, .app-container{
    background-color: $page-background!important;
  }
  header {
    background-color: $header-background;
    .btn {
      color: $high-contrast-color;
    }
    .btn-group {
      span.MuiBadge-badge {
        background-color: $detail-color;
        color: $view-background;
        font-weight: 700;
      }
    } 
  }
  footer {
    background-color: $footer-background;
  }
  .view-container {
    background-color: $view-background;
  }
  .view-wrapper.with-border {
    border: $dark-gray-border;
    background-color: $page-background;
  }
  .img-wrapper {
    border: 1px dashed $ghost-color;
  }
  .subscribe {
    input {
      border-bottom: 3px solid $low-contrast-color;
      color: $low-contrast-color;
    }
    &::placeholder {
      color: $high-contrast-color;
    }
  }
  .btn {
    background-color: rgb(61,61,61, 0.2);
    border: none;
    color: $low-contrast-color;
  }
  .btn:not(#btn-disabled):hover{
      background-color: rgb(61,61,61, 0.2); // header icon hover
  }
}

// TO DO:
// font colors: h1 + h2 (high contrast) the rest should be low contrast