  //CHANGE to dark-theme values

  @import 'variables';
  @import '_mixins_themes';
  @import 'responsive';

  // need these ???????
  //  @import 'cart-page-styles';
  //  @import 'product-page-styles';
  //  @import 'profile-page-styles';
  //  @import 'product-form-page-styles';
  //  @import 'home-page-styles';

@include themed {
  *{
    h1, h2, div, p {
      color: $dark-font;
    }
  }

  body {
    background-color: $white;
  }

  .app-container {
    background-color: $white;
  }

  header {
    border: $dark-gray-border;
    background-color: $darkgray;
    .btn-group {
      span.MuiBadge-badge {
        background-color: $orange;
        color: $light-gray;
        font-weight: 700;
      }
      svg {
        height: $small-height;
        width: 3rem;
        color: $mid-gray;
        
        &:hover {
          cursor: pointer;
          color: $light-gray;
        }
      }
    }
  }

  .btn {
  background-color: $light-gray;
  border: none;
  }
  .btn:not(#btn-disabled):hover{
      color: $light-gray;
      border: $light-gray-border;
      background-color: $darkgray;
  }

    form {
      & .MuiInputBase-input.MuiInput-input.Mui-disabled{
        -webkit-text-fill-color: $dark-font;
      }
    }

    .utilities-container {
      form {
        background-color: transparent;
        & input::placeholder{
          color: rgb(150, 150, 150);
          color: $mid-gray;
        }
      }
      .btn-group {
        button:not(.active-icon) {
          border: $dark-gray-border;
        }
        .active-icon {
          border: $dark-gray-border;
        } 
      } 
    }

    .cards-container {
      background-color: $light-gray;
    }

    .card-wrapper {
      border: $light-gray-border;
      //box-shadow: inset 0 -4rem 60px rgb(245, 245, 245);
      img {
        // -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(245, 245, 245, 0));
        // mask-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
      }
    }
    .product-price {
      background-color: $orange;
      //color: #1B1B1B;  dark-theme
    }

    .order-container {
      background-color: $white;
    }

    .category-container {
      border: $dark-gray-border;
      h2 {
        color: $darkgray;
      }
    }

    footer {
      background-color: $mid-gray;
    }
}

@include responsiveness();
