@import 'variables';
@import '_mixins_themes';
@import 'responsive';

@include themed {

  h1, h2 {
    color: $dark-font;
  }
  p, a, #select{
    color: $light-font;
  }
  span, svg, .btn {
    color: $light-font;
    &:not(:disabled):hover {
      cursor: pointer;
      color: inherit;
    }
  }
  body {
    background-color: $white;
  }
  .app-container {
    background-color: $white;
  }

  header {
    background-color: $darkgray;
    .btn {
      color: $dark-font;
    }
    .btn-group {
      span.MuiBadge-badge {
        background-color: $orange;
        color: $light-gray;
        font-weight: 700;
      }
      svg {
        height: $small-height;
        width: 3rem;
      }
    }
    
  }

  .btn {
    background-color: rgb(61,61,61, 0.2);
    border: none;
    color: $light-font;
  }
  .btn:not(#btn-disabled):hover{
      background-color: rgb(61,61,61, 0.2); // header icon hover
  }

    form {
      & .MuiInputBase-input.MuiInput-input.Mui-disabled{
        -webkit-text-fill-color: $dark-font;
      }
      svg {
        color: $light-font;
      }
    }

    .utilities-container {
      form {
        & input::placeholder{
          color: $dark-font;
        }
      }
      .btn-group {
        button:not(.active-icon) {
          border: $dark-gray-border;
        }
        .active-icon {
          border: $dark-gray-border;
        } 
      } 
    }

    .cards-container {
      background-color: $light-gray;
    }
    .card-content {
      p, svg{
        color: $dark-font;
      }
    }
    .card-wrapper:hover {
      border: $light-gray-border;
    }
    .product-price {
      background-color: $orange;
    }

    .order-container {
      background-color: $white;
      border: $dark-gray-border;
    }

    .category-container {
      border: $dark-gray-border;
      h2 {
        color: $darkgray;
      }
    }

    footer {
      background-color: $mid-gray;
    }
}

@include responsiveness();
