@import 'variables';
@import '_mixins_themes';
@import 'responsive';

@include themed {
  *{
    h1, h2, div, p {
      color: $dark-font;
    }
  }
  svg {
    color: $light-font;
    &:hover {
      cursor: pointer;
      color: inherit;
    }
  }

  body {
    background-color: $white;
  }

  .app-container {
    background-color: $white;
  }

  header {
    background-color: $darkgray;
    .btn-group {
      span.MuiBadge-badge {
        background-color: $orange;
        color: $light-gray;
        font-weight: 700;
      }
      svg {
        height: $small-height;
        width: 3rem;
        //color: $mid-gray;
      }
    }
    
  }

  .btn {
    background-color: darkgray;
    border: none;
  }
  .btn:not(#btn-disabled):hover{
      //color: $light-font;
      //border: $light-gray-border;
      background-color: $mid-gray;
  }

    form {
      & .MuiInputBase-input.MuiInput-input.Mui-disabled{
        -webkit-text-fill-color: $dark-font;
      }
      svg {
        color: $light-font;
      }
    }

    .utilities-container {
      form {
        background-color: transparent;
        & input::placeholder{
          color: $dark-font;
        }
      }
      .btn-group {
        button:not(.active-icon) {
          border: $dark-gray-border;
        }
        .active-icon {
          border: $dark-gray-border;
        } 
      } 
    }

    .cards-container {
      background-color: $light-gray;
    }

    .card-wrapper:hover {
      border: $light-gray-border;
    }
    .product-price {
      background-color: $orange;
      //color: #1B1B1B;  dark-theme
    }

    .order-container {
      background-color: $white;
      border: $dark-gray-border;
    }

    .category-container {
      border: $dark-gray-border;
      h2 {
        color: $darkgray;
      }
    }

    footer {
      background-color: $mid-gray;
    }
}

@include responsiveness();
