@import 'variables';
@import '_mixins-themed';

@include themed {
  h1, 
  .item-text, 
  .items-title h3,
  .item-price,
  .product-price, svg {
    color: $high-contrast-color;
    //opacity: 0.7;
  }

  h2:not(.view-header h2, .item-text h2), 
  h4:not(.item-text h4), 
  span, a, p, form {
    color: $low-contrast-color;
  }
  button:disabled {
    opacity: 0.5;
  }
  body, .app-container{
    background-color: $page-background!important;
  }
  header {
    background-color: $header-background;
    .btn {
      color: $high-contrast-color;
    }
    .btn-group {
      span.MuiBadge-badge {
        background-color: $detail-color;
        color: $view-background;
        font-weight: 700;
      }
    } 
  }
  footer {
    background-color: $footer-background;
  }
  .view-container {
    background-color: $view-background;
  }
  .view-wrapper.with-border {
    border: $dark-gray-border;
    background-color: $page-background;
  }
  .img-wrapper {
    border: 1px dashed $ghost-color;
  }
  .subscribe {
    input {
      border-bottom: 3px solid $low-contrast-color;
      color: $low-contrast-color;
    }
    &::placeholder {
      color: $high-contrast-color;
    }
  }
  .btn {
    background-color: rgb(61,61,61, 0.2);
    border: none;
    color: $low-contrast-color;
  }
  .btn:not(#btn-disabled):hover{
      color: $high-contrast-color;
      background-color: $low-contrast-color; 
  }
  .flex-container {
    border: $dark-gray-border; // make border with $low-contrast-color
    img {
      border: $dashed-border;
    }
  }
  .items-title, .product-price {
    background-color: $detail-color;
  }
  .item-price {
    background: linear-gradient(to left, $detail-color, 50%, transparent);
  }
}

// TO DO:
// font colors: h1 (high contrast) the rest should be low contrast
// rework .btn-group mixin
// img in home-page & landing-page darkening with white font
// transition mixin with seconds to pass as arg